/* adrr list */
.address-list{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1rem;
    padding: 2rem 1rem;
    width: 100%;
}
.add-new-address{
    background-color: var(--primary-color);
    border: none;
    padding: 0.5rem;
    cursor: pointer;
    padding: 0.6rem 1rem;
    color: var(--white);
}

/* addr card */
.address-card{
    border: 0.1rem solid var(--primary-color);
    padding: 0.5rem;
    width: 100%;
}
.addr_edit {
    background-color: var(--primary-color);
    border: none;
    padding: 0.5rem 1rem;
    color: var(--white);
    height: auto;
}
.addr_delete {
    background-color: var(--danger-color);
    border: none;
    padding: 0.5rem 1rem;
    color: var(--white);
    height: auto;
}
.choose-addr {
    float: right;
}

/* addr form */
.addr_input{
    margin: 0.5rem 0;
    padding: 0 0.5rem;
    width: 100%;
    height: 2rem;
    border: 1px solid var(--primary-color);
    border-radius: 0.3rem;
    outline: none;
}

.save_btn {
    color: var(--white);
    background-color: var(--primary-color);
    border: none;
    padding: 0.5rem 1rem;
    color: var(--white);
    height: auto;
}

.cancel_btn {
    color: var(--white);
    background-color: var(--danger-color);
    border: none;
    padding: 0.5rem 1rem;
    color: var(--white);
    height: auto;
}

/* Styles for tablets (portrait) and up */
@media (min-width: 768px) {
    .address-wrapper {
        width: 100%;
        margin: auto;
    }
}

  /* Styles for laptops and up */
@media (min-width: 1024px) {
    .address-wrapper {
        width: 100%;
        margin: auto;
    }
}