.checkout-wrapper{
    margin: 2rem auto;
}
.checkout-container{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
}
.mb-2{
    margin-bottom: 2rem;
}
.flex-col-50{
    width: 100%;
    padding: 1rem;
}
/* Styles for tablets (portrait) and up */
@media (min-width: 768px) {
    .checkout-container{
        flex-direction: row;
    }
    .flex-col-50{
        width: 50%;
    }
  }

  /* Styles for laptops and up */
  @media (min-width: 1024px) {
    .checkout-container{
        flex-direction: row;
    }
    .flex-col-50{
        width: 50%;
    }
  }