.address-container{
    display: flex;
    flex-direction: column;
    margin: 2rem auto;
}
.address-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
}

/* Styles for tablets (portrait) and up */
@media (min-width: 768px) {
    .address-wrapper {
        width: 100%;
        margin: auto;
    }
}

  /* Styles for laptops and up */
@media (min-width: 1024px) {
    .address-wrapper {
        width: 50%;
        margin: auto;
    }
}