.page-404{
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin-top: 4rem;
    margin-bottom: 2rem;
    gap: 1.5rem;
}

.image-container{
    display: flex;
    justify-content: center;
}

.error-img{
    width: 80%;
}

.content-box-404{
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 1rem;
}

.error-header{
    font-size: 1.5rem;
}

.error-description {
    font-size: 1.1rem;
}

.action {
    justify-content: center;
    display: flex;
}

.browse-product-btn {
    background-color: var(--primary-color);
    padding: 1.3rem 1.6rem;
    color: var(--white);
    display: flex;
    align-items: center;
    justify-content: center;

}

/* Styles for tablets (portrait) and up */
@media (min-width: 768px) {
    .error-img{
        width: 50%;
    }
}

/* Styles for laptops and up */
@media (min-width: 1024px) {
    .page-404{
        margin-top: 1rem;
    }
    .error-img{
        width: 40%;
    }
}