*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --primary-color: #0e9aeb;
  --black: #1f1d1d;
  --white: #ffffff;
  --lynx-white:#f8f8f8;
  --gray-color: #f5f5f6;
  --secondary-color: #007bb5;
  --shadow-color: #b9b9b9;
  --danger-color: #ff4a4a;
  --text-color: #1e1e1e;
  --text-secondary: #2e2e2e;
  --bright-blue: #7685ab;
  --star-color: gold;
  /* --deep-blue: #121932;
  --medium-blue: #293657; */
}

.cursor-pointer {
  cursor: pointer;
}

.text-center {
  text-align: center;
}

.img-fluid{
  max-width: 100%;
}

.m-auto {
  margin: auto;
}

.grid {
  display: grid;
  margin: 0;
  width: 100%;
}

.grid-three-col {
  grid-template-columns: repeat(2, 1fr);
}

.btn{
  background-color: inherit;
  border-radius: 0.4rem;
  border: none;
  cursor: pointer;
  height: 2rem;
  width: fit-content;
  margin: 0.625rem;
  text-decoration: none;
  text-align: center;
}

.btn:hover{
  filter: brightness(90%);
}

/* Default styles for mobile devices */
body {
  margin: 0 auto;
  font-family: "Inter", sans-serif, 'Lora', serif;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  font-size: 0.875rem;
}

h1 {
  font-size: 1rem;
}

h2 {
  font-size: 0.75rem;
}

p,
button {
  font-size: 0.65rem;
}

::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: var(--lynx-white);
}

::-webkit-scrollbar {
  width: 5px;
  background-color: var(--lynx-white);
}

::-webkit-scrollbar-thumb {
  background-color: var(--primary-color);
}

/* Styles for tablets (portrait) and up */
@media (min-width: 768px) {
  body {
    font-size: var(--fs-1);
  }
  h1 {
    font-size: 1.5rem;
  }
  h2 {
    font-size: 1rem;
  }
  p,
  button {
    font-size: 0.9rem;
  }
  .grid-three-col {
    grid-template-columns: repeat(3, 1fr);
  }
}

/* Styles for laptops and up */
@media (min-width: 1024px) {
  body {
    font-size: 1.12rem;
  }
  h1 {
    font-size: 2rem;
  }
  h2 {
    font-size: 1.25rem;
  }
  p,
  button {
    font-size: 1.15rem;
  }
  .grid-three-col {
    grid-template-columns: repeat(3, 1fr);
  }
}