*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --primary-color: #0e9aeb;
  --black: #1f1d1d;
  --white: #ffffff;
  --lynx-white:#f8f8f8;
  --gray-color: #f5f5f6;
  --secondary-color: #007bb5;
  --shadow-color: #b9b9b9;
}

.cursor-pointer {
  cursor: pointer;
}

.text-center {
  text-align: center;
}

.btn{
  background-color: inherit;
  border-radius: 0.4rem;
  border: none;
  cursor: pointer;
  height: 2rem;
  width: 8rem;
  margin: 0.625rem;
  text-decoration: none;
  text-align: center;
}

.btn:hover{
  filter: brightness(90%);
}

/* Default styles for mobile devices */
body {
  margin: 0 auto;
  font-family: "Inter", sans-serif, 'Lora', serif;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  font-size: 0.875rem;
}

h1 {
  font-size: 1rem;
}

h2 {
  font-size: 0.75rem;
}

p,
button {
  font-size: 0.65rem;
}

/* Styles for tablets (portrait) and up */
@media (min-width: 768px) {
  body {
    font-size: var(--fs-1);
  }
  h1 {
    font-size: 1.5rem;
  }
  h2 {
    font-size: 1rem;
  }
  p,
  button {
    font-size: 0.9rem;
  }
}

/* Styles for laptops and up */
@media (min-width: 1024px) {
  body {
    font-size: 1.12rem;
  }
  h1 {
    font-size: 2rem;
  }
  h2 {
    font-size: 1.25rem;
  }
  p,
  button {
    font-size: 1.15rem;
  }
}